<div class="container">
  <div class="row">
    <%= render 'searches/genre' %>

    <div class="col-md-8 offset-md-4">
      <div class="row">
        <h3>商品一覧</h3>
        <p><%= Item.count %> 件の商品があります。</p>
      </div>

      <div class="row">
        <% Item.all.each do |item| %>
          <div class="col-md-3">
            <%= link_to item_path(item) do %>
              <%= image_tag item.get_image %>
            <% end %>
            <h2><%= item.name %></h2>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


