<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
　　 <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/82d7b2075d.js" crossorigin="anonymous"></script>

  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <nav>
    <div class="container">
      <a class="navbar-brand" href="/">logo</a>
    <div class="row">
       <ul class="navbar-nav ml-auto">

            <!--adminログイン時のヘッダー-->
            <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to admin_items_path do %>
                  <i class="fas fa-cookie-bite">商品一覧</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_customers_path do %>
                  <i class="fas fa-users">会員一覧</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_root_path do %>
                  <i class="fas fa-clipboard-list">注文履歴一覧</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_genres_path do%>
                  <i class="fas fa-tags">ジャンル一覧</i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_admin_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt">ログアウト</i>
                <% end %>
              </li>

          <% elsif customer_signed_in? %>
            <li class="nav-item">
              <%= link_to "マイページ", public_customers_mypage_path %>
            </li>
            <li class="nav-item">
              <%= link_to "商品一覧", public_items_path %>
            </li>
            <li class="nav-item">
              <%= link_to "カート", public_cart_items_index_path %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "About", about_path %>
            </li>
            <li class="nav-item">
              <%= link_to "商品一覧", public_items_path %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_customer_registration_path %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_customer_session_path %>
            </li>
          <% end %>
      </div>
      </ul>
    </div>
  </nav>
    </header>

    <div class="container">
  		 <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <% flash.each do |key, value| %>
          <p class="alert alert-<%= key %>">
            <%= sanitize value, tags: %w(br) %>
          </p>
        <% end %>
       </div>
    </div>

    <%= yield %>
    <footer>
   </footer>
  </body>

</html>
